* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh; /* Full height */
    width: auto; /* Maintain aspect ratio */
    max-width: 50vw; /* Optional: Limit to half the screen */
    object-fit: cover;
    z-index: -1; /* Keep it in the background */
}

.container {
    background: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buffer {
    margin-bottom: 40px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#confirmation-msg {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}
